$primaryOne: #0084E3
$primaryTwo: #5B53FF
$primaryThree: #193E58

$danger: #EB5757
$success: #75E394

#header
    height: 50px
    background-color: $primaryThree
    border: none

.logo-container
    img
        width: 100%
        object-fit: contain
