#header {
  height: 50px;
  background-color: #193E58;
  border: none;
  padding: 0 15px;
}

.logo-container img {
  margin: 15px 0;
  height: 20px;
  object-fit: contain;
}

.head-avatar img {
  float: right;
  margin: 10px 0;
  height: 30px;
}

.avatar-img {
  vertical-align: middle;
  object-fit: contain;
  border-radius: 50%;
}

.search {
  display: flex;
  width: 100%;
  height: auto;
  padding: 5px 15px;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}
.search input {
  margin: 0 5px;
  padding: 0;
  width: 100%;
  height: 37px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border: none;
}
.search img, .search a {
  margin: auto;
  vertical-align: middle;
  display: inline-block;
}

.filter-widget {
  border-bottom: 0.25px solid #e2e2e2;
  padding: 20px 10px;
  margin-bottom: 10px;
}

.page-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.1em;
  background: linear-gradient(146.75deg, #5B53FF 9.21%, #56B7FF 90.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.prime-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  width: 100%;
  height: 46px;
  margin: 5px 0;
  padding: 13px 15px;
  line-height: 16px;
  color: #ffffff;
  background: linear-gradient(149.59deg, #5B53FF 9.21%, #56B7FF 90.79%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
}

.navigate-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  height: 46px;
  margin: 5px 0;
  padding: 13px 15px;
  line-height: 16px;
  color: #ffffff;
  background: linear-gradient(148.06deg, #5B53FF 9.21%, #56B7FF 90.79%);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border: none;
}

.cancel-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  width: 100%;
  height: 46px;
  margin: 5px 0;
  padding: 13px 15px;
  line-height: 16px;
  color: #EB5757;
  border: 2px solid #EB5757;
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900 !important;
  font-size: 10px !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

select {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900 !important;
  font-size: 10px !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 42px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15) !important;
  border: none !important;
  margin-bottom: 10px;
}

.text-input {
  width: 100%;
  height: 42px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border: none !important;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: #193E58;
  padding: 12px 16px;
  margin-bottom: 10px;
  background-color: white !important;
}

.text-input::placeholder {
  color: #1a1a1a56;
  font-weight: 400;
}

.text-input::-webkit-input-placeholder {
  color: #1a1a1a56;
  font-weight: 400;
}

.text-input::-ms-input-placeholder {
  color: #1a1a1a56;
  font-weight: 400;
}

input[type=range] {
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
  outline: none;
  border: 0;
  padding: 0 8px;
  margin: 8px 0;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #0084E3;
  height: 2px;
  border-radius: 4px;
  transition: 0.3s;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #5B53FF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -9px;
  cursor: pointer;
  border: 3px solid #fff;
  transition: 0.3s;
}

input[type=range]:hover::-webkit-slider-thumb,
input[type=range]:focus::-webkit-slider-thumb {
  background: #5B53FF;
}

output {
  position: absolute;
  width: 70px;
  height: 30px;
  display: none;
  background-color: #5B53FF;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.15em;
  text-align: center;
}

input[type=range]:active + output {
  display: block;
  transform: translateX(-50%);
}

.range-slider p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 0.15em;
}
.range-slider p#range-val {
  color: #5B53FF;
  border: 1px solid #5B53FF;
  border-radius: 10px;
  margin: 5px 20px;
}

.floating-btn {
  position: fixed;
  bottom: 73px;
  z-index: 15;
  width: 100%;
}
.floating-btn button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff !important;
  text-shadow: none !important;
  background: linear-gradient(280.99deg, #0084E3 0%, #00D1ED 100%) !important;
  border: none !important;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px !important;
  height: 27px;
  width: 140px;
  margin: auto !important;
  padding: 0;
}
.floating-btn button svg {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.navigation-bar {
  position: fixed;
  bottom: 0;
  border-top: 0.5px solid rgba(51, 51, 51, 0.5);
  width: 100%;
  height: auto;
  padding: 13px 0;
  z-index: 5;
  background-color: white;
}
.navigation-bar img {
  vertical-align: top;
}

#footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  letter-spacing: 0.05em;
  height: 160px;
  width: 100%;
  background-color: #193E58;
  border: none;
  padding: 20px 10px;
  bottom: 0;
  text-transform: uppercase;
  color: #f2f2f2;
  text-shadow: none;
}
#footer p {
  text-align: center;
  margin: 5px;
}
#footer ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

/*# sourceMappingURL=main.css.map */
