<div class="ui-grid-b">
  <div class="ui-block-a">
    <ul class="navigation-list">
      <li>Home</li>
      <li>About Us</li>
      <li>Contact</li>
      <li>Camera</li>
      <li>Privacy and Policy</li>
    </ul>
  </div>
  <div class="ui-block-b">
    <ul class="navigation-list">
      <li>NewsFeed</li>
      <li>Faviourites</li>
      <li>Bookings</li>
      <li>Settings</li>
      <li>Profile</li>
    </ul>
  </div>
  <div align="center" class="ui-block-c social-media-icons">
    <p>Connect with us</p>
    <img class="fb-icon" src="/assets/icons/facebook.svg" />
    <img class="twitter-icon" src="/assets/icons/twitter.svg" />
    <img class="insta-icon" src="/assets/icons/instagram.svg" />
  </div>
</div>
<div class="ui-grid-a">
  <p class="rights-txt">All rights reserved 2019</p>
</div>
