<div id="home-icon" align="center" class="ui-block-a">
  <img class="home-icon" src="/assets/icons/home.svg" />
</div>
<div id="star-icon" align="center" class="ui-block-b">
  <img class="star-icon" src="/assets/icons/star.svg" />
</div>
<div id="camera-icon" align="center" class="ui-block-c">
  <img class="camera-icon" src="/assets/icons/camera.svg" />
</div>
<div id="train-icon" align="center" class="ui-block-d">
  <img class="train-icon" src="/assets/icons/train.svg" />
</div>
<div id="settings-icon" align="center" class="ui-block-e">
  <img class="settings-icon" src="/assets/icons/settings.svg" />
</div>
