#nav-img {
  float: right;
  margin: 15px 0;
}

#collapseMenu {
  width: 100%;
  position: absolute;
  z-index: 10;
  text-align: center;
  color: #0084E3;
}

#intro-face {
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url("/assets/images/Background/homepageBg.jpg");
  background-size: cover;
  height: 207px;
}

.intro-img {
  width: 100%;
  height: auto;
}

.text-container {
  text-align: center;
}

#logo-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-shadow: none;
  color: #ffffff;
}

.intro-container {
  padding: 63px 82px 102px 81px;
  width: 100%;
}

#description-landing {
  text-align: center;
}

.description-container {
  padding: 10px 20px;
}

#intro-body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: justify;
}

#intro-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.1em;
  background: -webkit-linear-gradient(168.06deg, #5B53FF 9.21%, #56B7FF 90.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

#intro-video {
  max-width: 100%;
}

.service-info {
  text-align: center;
  color: #F7FBFF;
}

.info-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.1em;
  background: -webkit-linear-gradient(171.5deg, #5B53FF 9.21%, #56B7FF 90.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  text-align: center;
}

.service-container {
  width: 117px;
  height: 117px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 100%;
}

.image-container {
  padding: 0px 129px 0px 129px;
}

#svg-image {
  fill: green;
}

.home-services-img {
  padding: 30px 29px 39px 29px;
}

.service-description {
  padding: 7px 0px 0px 0px;
}

.service-body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 0px 81px 5px 81px;
  color: #343434;
}

.service-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-shadow: none;
  text-align: center;
  color: #0084E3;
}

.service-info {
  text-align: center;
  background-color: #F6FBFF;
}

.auth-form {
  padding: 12px 16px;
}

.user-feedback {
  border-top: 0.5px solid #3a3a3a75;
  background-color: #0084e325;
}

.team-members {
  text-shadow: none;
}

.team-info {
  background-color: #63acb921;
  border-top: 0.5px solid #0244503b;
}

.member {
  width: 50% !important;
  align-content: center;
}

.members-img {
  margin: 10px 50px;
}

.member-description {
  text-align: center;
  color: #343434;
}

.member-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.05em;
  margin: 0;
}

.member-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 0.05em;
}

/*# sourceMappingURL=homepage.css.map */
